// colours
$bg1: #ffffff;
$main-color: #BDC3C7;
$link-color: #f39c12;
$hover-color: #E67E22;
$space-large: 20px;

// search colours
$search-bg: #313131;

// to do colours
$completed-color: #ECF0F1;
$completed-hover: #ffffff;

// form colours
$btn-color: #FFD300;
$btn-hover: #FFBF00;
