.todowrap {
    margin-bottom: 10px;
    margin-top: 5px;
}

.todowrap__header {
    background: $search-bg;
    background-size: 16px 16px;
    border-radius: 6px 6px 0 0;
    color: $bg1;
    padding: 19px 25px 20px;
}

.todowrap__footer {
    background: $search-bg;
    background-size: 16px 16px;
    border-radius: 0 0 6px 6px;
    color: $bg1;
    padding: 19px 25px 20px;
}